.form-check-input {
    margin-top: 7px; 
}

.btn{
    background-color: #791e00;
    border-color: #791e00;
}

.btn:hover{
    background-color: #470501;
    border-color: #470501; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
}

