<div class="card mt-4">
    <h4 class="card-header">Hallo </h4>
    <div class="card-body">
        <p>Gefeliciteerd!!!!</p>
        <p>U bent als <strong>{{currentUser.role}}</strong> ingelogd.</p>
        <p>Deze pagina kan bezocht worden door <u>alle geautorizeerde gebruikers</u>.</p>
        <!-- <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul> -->
    </div>
</div>